@{
    ViewBag.Title = "Achievment System";
}
<p>Всего выдано @ViewBag.AchieveCount ачивок</p>
<p>Воспитатель получил @ViewBag.TeacherAchieve ачивок и номинирован на @ViewBag.TeacherStat </p>
<p>Ребёнок получил @ViewBag.ChildAchieve ачивок. </p>
<p>За @ViewBag.AchieveDate дней(дня) было выдано @ViewBag.SumChild детских и @ViewBag.SumTeacher взрослых ачивок. </p>